* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #333;
  display: table;
  text-align: center;
}

.container {
  display: table-cell;
  vertical-align: middle;
  min-width: 500px;
}

#digitalClock {
  color: white;
  font-size: 60px;
  letter-spacing: 7px;
  font-family: fantasy;
}

#berlinClock {
  font-size: 0;
}

.light {
  display: inline-block;
  margin: 8px 4px;
}

#secondsLamp .light {
  height: 96px;
  width: 96px;
}

#fiveHourRow .light,
#oneHourRow .light,
#oneMinuteRow .light {
  height: 64px;
  width: 102px;
}

#fiveMinuteRow .light {
  height: 64px;
  width: 32px;
}

#secondsLamp .light {
  border-radius: 48px;
}

#fiveHourRow :first-child,
#oneHourRow :first-child,
#fiveMinuteRow :first-child,
#oneMinuteRow :first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

#fiveHourRow :last-child,
#oneHourRow :last-child,
#fiveMinuteRow :last-child,
#oneMinuteRow :last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

#secondsLamp .light.on,
#fiveMinuteRow .light.on:not(:nth-child(3n + 3)),
#oneMinuteRow .light.on {
  background-color: #ff3;
}

#secondsLamp .light.off,
#fiveMinuteRow .light.off:not(:nth-child(3n + 3)),
#oneMinuteRow .light.off {
  background-color: #663;
}

#fiveHourRow .light.on,
#oneHourRow .light.on,
#fiveMinuteRow .light.on:nth-child(3n + 3) {
  background-color: #f33;
}

#fiveHourRow .light.off,
#oneHourRow .light.off,
#fiveMinuteRow .light.off:nth-child(3n + 3) {
  background-color: #633;
}
